{{!-- Tag cards --}}
<div class="container-tags">
    <div id="destination-tag">
        <h2>Filter by Country</h2>
        <div id="north-america-tag">
            <h3>America</h3>
            <a class="filter-destination" data-name="destination" data-value="canada">Canada</a>
            <a class="filter-destination" data-name="destination" data-value="etat-unis">Etats-unis</a>
            <a class="filter-destination" data-name="destination" data-value="mexico">Mexico</a>
            <a class="filter-destination" data-name="destination" data-value="peru">Peru</a>
        </div>
        <div id="asia-tag">
            <h3>Asia</h3>
            <a class="filter-destination" data-name="destination" data-value="india">India</a>
            <a class="filter-destination" data-name="destination" data-value="laos">Laos</a>
            <a class="filter-destination" data-name="destination" data-value="japon">Japon</a>
            <a class="filter-destination" data-name="destination" data-value="srilanka">Sri-lanka</a>
        </div>
        <div id="europe-tag">
            <h3>Europe</h3>
            <a class="filter-destination" data-name="destination" data-value="denmark">Denmark</a>
            <a class="filter-destination" data-name="destination" data-value="england">England</a>
            <a class="filter-destination" data-name="destination" data-value="italia">Italia</a>
            <a class="filter-destination" data-name="destination" data-value="russia">Russia</a>
        </div>
        <div id="africa-tag">
            <h3>Africa</h3>
            <a class="filter-destination" data-name="destination" data-value="morroco">Morroco</a>
            <a class="filter-destination" data-name="destination" data-value="tunisia">Tunisia</a>
            <a class="filter-destination" data-name="destination" data-value="senegal">Senegal</a>
            <a class="filter-destination" data-name="destination" data-value="southafrica">South Africa</a>
        </div>
    </div>
    <h2>Filter by Period</h2>
    <div id="period-tag">
        <a class="filter-period" data-name="period" data-value="janv-mar">Jan-Mar</a>
        <a class="filter-period" data-name="period" data-value="apr-jun">Apr-Jun</a>
        <a class="filter-period" data-name="period" data-value="jul-sep">Jul-Sep</a>
        <a class="filter-period" data-name="period" data-value="oct-dec">Oct-Dec</a>
    </div>
    <h2>Filter by Duration</h2>
    <div id="duration-tag">
        <a class="filter-duration" data-name="duration" data-value="week-end">Week-end</a>
        <a class="filter-duration" data-name="duration" data-value="1 week">1 week</a>
        <a class="filter-duration" data-name="duration" data-value="2 weeks">2 weeks</a>
        <a class="filter-duration" data-name="duration" data-value="sup 2 weeks"> > 2 weeks</a>
    </div>
    <h2>Filter by Budget</h2>
    <div id="budget-tag">
        <a class="filter-budget" data-name="budget" data-value="week-end">0-500€</a>
        <a class="filter-budget" data-name="budget" data-value="1 week">500-1000€</a>
        <a class="filter-budget" data-name="budget" data-value="sup to 1000">> 1000€-</a>
    </div>
    <h2>Filter by Thematic</h2>
    <div id="thematic-tag">
        <a class="filter-thematic" data-name="thematic" data-value="bagpacker">Bagpacker</a>
        <a class="filter-thematic" data-name="thematic" data-value="bagpacker">Luxury</a>
        <a class="filter-thematic" data-name="thematic" data-value="bagpacker">Nature</a>
        <a class="filter-thematic" data-name="thematic" data-value="bagpacker">All-Inclusive</a>
        <a class="filter-thematic" data-name="thematic" data-value="bagpacker">Foodlover</a>
        <a class="filter-thematic" data-name="thematic" data-value="bagpacker">Culture</a>
    </div>
</div>

{{!-- Trip cards --}}
<div class="container">
    {{> trip_card}}
</div>