/* SIGNUP */
.sign.form-container {
    padding: 0 1.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 7%;
    height: 100vh;;
    background: url(/images/sunset.jpg);
    background-size: cover;
    color: white;
}

.input-user-info {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: baseline;
    width: 70%;
    padding: 10px;
}

.form-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: -25px;
}

.form-title {
        color: white;
        font-size: 4rem;
        font-weight: 800;
        text-shadow: 1px 1px 1px rgb(66, 63, 63);
        position: relative;
        top: -50px;
}

.sign.form-container  {
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: .5rem;
}

#form_user .form-item-wrapper:last-child {
    margin-bottom: 1.2rem;
}


#form_user {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.7);
    color: black;
    padding: 20px;
    border-radius: 10px;
    text-shadow: white 0.1em 0.1em 0.2em;
    font-weight: bold;
    position: relative;
    top: -130px;
    width: 40%;
}

#form_user .form-item-wrapper {
    width: 75%;
    justify-content: flex-start;
    align-items: center;
    margin: 15px;
    display: flex;
    HEIGHT: 30px;
}

.form-subtitle {
    font-size: 2rem;
    text-shadow: 1px 1px 1px rgb(66, 63, 63);
    position: relative;
    top: -120px;
}

.form-sub-infos {
    font-size: 1rem;
    color: black;
    width: 30%;
    background-color: rgba(255, 255, 255, 0.6);
    text-align: center;
    padding: 5px 10px;
    border-radius: 20px;
    position: relative;
    top: -110px;
}

#form_user .button-primary {
    margin: 1.5rem 0 1rem 0;
}

.button-link-form {
    color: rgb(52, 52, 255);
    padding-bottom: .1rem;
    text-decoration: none
}

.button-link-form:hover {
    color: rgb(52, 52, 255);
    border-bottom: 1px solid rgb(52, 52, 255);
}

.input-text.input {
    border: none;
    color: gray;
    padding: 10px;
    border-radius: 4px;
    text-align: center;
    /* height: 15px; */
    display: flex;
    font-size: 1rem;
    width: 100%;
}

.label-ref {
    width: 40%;
    padding-right: 20px;
}

.email-label {
    display: flex;
    justify-content: flex-start;
}

#user-picture {
    margin: 5px
}

.button-primary {
    padding: 10px 20px;
    background: #D75A4A;
    text-decoration: none;
    color: white;
    border: none;
    border-radius: 2px;
}


#description {
    height: 40px;
}