<div class="big-container">
    <form action="/manage/create-trip" method="post" class="add-trip" enctype="multipart/form-data">
        <h3 class="form-title">Add a new trip</h3>

        <div class="form-item textarea">
            <label for="description" class="">Short description</label>
            <textarea id="description" type="text" row="3" maxlength="30" name="description"
                placeholder="< 30 caracters">Safari family</textarea>
        </div>
        <div class="form-item textarea">
            <label for="iLiked">I liked : </label>
            <textarea id="iLiked" type="text" row="3" name="iLiked"
                placeholder="< 30 caracters">I loved this restaurant ! so yummy"</textarea>
        </div>
        <div class="form-item textarea">
            <label for="iDidntLike">I didn't like : </label>
            <textarea id="iDidntLike" type="text" row="3" name="iDidntLike"
                placeholder="< 30 caracters">Don't drink tape water..I was sick </textarea>
        </div>
        <div class="form-item">
            <label for="destination" class="">Destination</label>
            <select id="destination" type="text" class="select" name="destination">
                <option value="-1" disabled selected>Choose a country</option>
                <option value="Canada">Canada</option>
                <option value="France">France</option>
                <option value="Italy">Italy</option>
                <option value="Laos">Laos</option>
                <option value="Mexico">Mexico</option>
                <option value="Norway">Norway</option>
                <option value="SouthAfrica">South Africa</option>
            </select>
        </div>
        <div class="form-item">
            <label for="budget" class="">Budget</label>
            <select id="budget" type="text" class="select" name="budget">
                <option value="-1" disabled selected>Choose a budget</option>
                <option value="0-500€">0-500€</option>
                <option value="500-1000€">500-1000€</option>
                <option value=">1000€">>1000€</option>
            </select>
        </div>
        <div class="form-item">
            <label for="duration" class="">Duration</label>
            <select id="duration" type="text" class="select" name="duration">
                <option value="-1" disabled selected>Choose a duration</option>
                <option value="week-end">week-end</option>
                <option value="1 week">1 week</option>
                <option value="2 weeks">2 weeks</option>
                <option value=">2 weeks">> 2 weeks</option>
            </select>
        </div>
        <div class="form-item">
            <label for="period" class="">Period</label>
            <select id="period" type="text" class="select" name="period">
                <option value="-1" disabled selected>Choose a period</option>
                <option value="Jan-Mar">Jan-Mar</option>
                <option value="Apr-Jun">Apr-Jun</option>
                <option value="Jul-Sep">Jul-Sep</option>
                <option value="Oct-Dec">Oct-Dec</option>
            </select>
        </div>

        <div class="form-item thematics">
            <label for="thematics" class="thematics-label">Thematics</label>
            <select id="thematics" type="text" class="select" name="thematics" multiple>
                <option value="-1" disabled selected>Choose one or more thematics</option>
                <option value="bagpacker">Bagpacker</option>
                <option value="luxe">Luxe</option>
                <option value="nature">Nature</option>
                <option value="all-inclusive">All-inclusive</option>
                <option value="foodlover">Foodlover</option>
                <option value="sportif">Sportif</option>
                <option value="culture">Culture</option>
            </select>
        </div>
        <div class="form-item">
            <label for="picture">Cover Picture</label>
            <input id="picture-trip" type="file" name="pictureTrip" class="picture-trip">
        </div>
        <div class="form-item">
            <label for="itinerary">My Itinerary: </label>
            <button id="btn_add_step">Add step</button>
            <ul id="list_other_step"></ul>
        </div>
        <button class="button-create-trip">Add this trip</button>
    </form>
    {{!-- {{#if msg}}
    <p class="message {{msg.status}}">{{msg.text}}</p>
    {{/if}} --}}
    <script type="text/javascript"
                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAl3zOkF6Rn0GpvxEY0gN7Y1E9hlmAdJ1I&libraries=places&callback=activatePlacesSearch"></script>
</div>